<!DOCTYPE html>
<html>
    <head>
        <title>To-Do List | Delete</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>  
    <body>
        <div class="container">
        <h3>Delete Task</h3>
            <p>Are you ready to delete "{{item}}"?</p>
            <a href="{% url 'index' %}">Cancel</a>

            <form method="POST" action="">
                {% csrf_token %}
                <input type="submit" name="Confirm">
            </form>
        </div>
    </body>
</html>